.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  padding:15px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding: 15px;
}

.app-title {
  margin-right: 20px;
}

.mat-button {
  font-size: 18px;
}

.content {
    margin: 20px;
}